<div class="row">
  <div class="col-md-12 mt-5">
    <h3 class="text-center">CADASTRAR NOVO EVENTO</h3>
  </div>
  <div class="col-md-12 mt-3">

    <!--
    <div class="mb-2" th:if="${success} != null">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="oi oi-check"></i> <span> <strong th:text="${success}"></strong>
                        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="mb-2" th:if="${fail} != null">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="oi oi-check"></i> <span> <strong th:text="${fail}"></strong>
                        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    -->

    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="evento.nome" name="nome" id="nome"
               formControlName="nome" placeholder="Festa de aniversário" autocomplete="off"
               [ngClass]=" verifyValidTouched('nome') ? 'is-invalid' : '' " required/>
        <app-input-error-msg [viewErro]="verifyValidTouched('nome')" msgErro="Campo">
        </app-input-error-msg>
      </div>
      <div class="form-group">
        <label for="local">Local</label>
        <input type="text" class="form-control" [(ngModel)]="evento.local" name="local" id="local"
               formControlName="local" placeholder="Bairro Laranja, rua 7, casa 500" autocomplete="off"
               [ngClass]=" verifyValidTouched('local') ? 'is-invalid' : '' " required/>
        <app-input-error-msg [viewErro]="verifyValidTouched('local')" msgErro="Campo">
        </app-input-error-msg>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="local">Data</label>
            <input type="date" class="form-control" [(ngModel)]="evento.data" name="data" id="data"
                   formControlName="data" [ngClass]=" verifyValidTouched('data') ? 'is-invalid' : '' "
                   required/>
            <app-input-error-msg [viewErro]="verifyValidTouched('data')" msgErro="data">
            </app-input-error-msg>
          </div>
          <div class="col-md-6">
            <label for="local">Horario</label>
            <input type="time" class="form-control" [(ngModel)]="evento.horario" name="horario" id="horario"
                   formControlName="horario" [ngClass]=" verifyValidTouched('horario') ? 'is-invalid' : '' "
                   required/>
            <app-input-error-msg [viewErro]="verifyValidTouched('horario')" msgErro="horario">
            </app-input-error-msg>
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Cadastrar</button>
    </form>
  </div>

</div>

<app-form-debug [form]="form"></app-form-debug>
