<div class="row">
  <div class="col-md-12 mt-5">
    <h3 class="text-center">Evento: {{evento.nome}}</h3>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-3">
    <p><strong>Nome:</strong> {{evento.nome}}</p>
  </div>
  <div class="col-md-3">
    <p><strong>Local:</strong> {{evento.local}}</p>
  </div>
  <div class="col-md-3">
    <p><strong>Data:</strong> {{evento.data | date: 'dd/MM/yyyy'}}</p>
  </div>
  <div class="col-md-3">
    <p><strong>Horário:</strong> {{evento.horario}}</p>
  </div>
</div>
<hr class="my-5">

<app-cadastrar-convidado></app-cadastrar-convidado>

<hr class="mt-5 mb-5">

<app-listar-convidados></app-listar-convidados>
